@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

.main-continer {
  background: white;
  min-height: 85vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}
.form-class {
  padding: 1%;
  width:50%;
  height: 90%;
  background: #F8F8FF;
  margin: 5% auto;
  border-radius: 15px;
}
.font-size {
  font-weight: 600;
  font-family: 'Roboto Condensed', sans-serif;
  color: #0b5b74;
} 
.form-data{
  margin-left: 10%;
  margin-right: 10%;
  padding: 5%;
}

.error-display{
  color: red;
  font-size: smaller;
  
}

.authBtn1 {
  background-color: white;
  font-weight: bolder;
  text-align: center;
  width: 55%;
}

.authBtn1 > a {
  text-decoration: none;
}

.authBtn2 {
  color: white;
  font-weight: bolder;
  text-align: center;
  width: 55%;
}

.btn-block {
    background-color: #C8C8C8;
}

@media only screen and (max-width: 640px) {
  .form-class {
    width: 90%;
  }

  .authBtn1 {
    width: 55%;
  }

  .authBtn2 {
    width: 55%;
  }
}